@import "compass/css3"; // compass css3 helpers

@import "variables";
@import "mixins";

@import "font-awesome/variables";
@import "font-awesome/mixins";

body {
	@include loader(embed-state-loading);
}

.embed-wrapper {
	width: auto;
	min-height: 400px;
	padding: 0;
	margin: 0;

	& > .elgg-body {
		width: auto;
		margin: 10px;
		@include box-sizing(border-box);
	}
	h2 {
		color: #333333;
		margin-bottom: 10px;
	}
	.elgg-item {
		cursor: pointer;
	}
	p {
		color: #333;
	}
	.embed-item {
		padding-left: 5px;
		padding-right: 5px;
	}
	.embed-item:hover {
		background-color: #eee;
	}
}


/* ***************************************
	EMBED FORMS
*************************************** */
.embed-wrapper {
	font-size: 14px;

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		@include clearfix;
		&.elgg-foot {
			text-align: right;
		}
	}
	.elgg-button-action, .elgg-button-submit {
		font-size: 1em;
		padding: .5em 1em;
		.elgg-icon {
			font-size: 20px;
			color: white;
		}
	}
	.elgg-icon.elgg-icon-embed {
		@include icon;
		&:after {
			content: $fa-var-code;
		}
	}
}

/* ***************************************
	EMBED ECML
*************************************** */

.embed-ecml-placeholder {
	* {
		@include box-sizing(border-box);
	}
	position: relative;
	font-family: 'Open Sans', sans-serif;
	max-width: 100%;
	overflow: hidden;
	padding: 10px 10px 30px;
	margin: 10px;
	border: 1px solid $border-color;
	&:after {
		@include icon;
		content: $fa-var-link;
		background: $border-color;
		color: white;
		font-size: 16px;
		position: absolute;
		right: 0px;
		top: 0px;
		padding: 5px;
	}
	iframe, object, embed {
		max-width: 100%;
	}
	.elgg-image-block .elgg-image {
		margin-right: 10px;
	}
	.embed-ecml-resource {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0 10px;
		width: 100%;
		height: auto;
		line-height: 25px;
		white-space: nowrap;
		color: white;
		background: $border-color;
		font-size: 90%;
	}

	.elgg-module.elgg-module-embed {
		font-family: "Open Sans", 'sans-serif';
		background: lighten($border-color, 15%);
		border: 1px solid $border-color;
		margin: 0;
		& > .elgg-head {
			padding: 10px;
			border-bottom: 1px solid $border-color;
			h3 {
				margin: 0;
			}
		}
		& > .elgg-body {
			background: white;
			padding: 0;
			.elgg-image-block {
				padding: 10px;
			}
		}
		& > .elgg-foot {
			border-top: 1px solid $border-color;
			padding: 10px;
			a {
				word-break: break-all;
			}
		}
	}
}
.embed-ecml-error {
	border-color: darkred;
}
.embed-ecml-error h3 {
	color: darkred;
}

/********************************
	EMBED JQUERY UI MODAL
********************************/

.ui-dialog.embed-modal {
	@include modal;
	width: 600px;
	max-width: 95%;
}
.ui-widget-overlay {
	@include modal-bg;
}