body.embed-state-loading:before {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: -25px auto 0;
  z-index: 10000;
  content: "\f110";
  color: #0054a7;
  font-size: 50px;
  line-height: 50px;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.embed-wrapper {
  width: auto;
  min-height: 400px;
  padding: 0;
  margin: 0;
}
.embed-wrapper > .elgg-body {
  width: auto;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.embed-wrapper h2 {
  color: #333333;
  margin-bottom: 10px;
}
.embed-wrapper .elgg-item {
  cursor: pointer;
}
.embed-wrapper p {
  color: #333;
}
.embed-wrapper .embed-item {
  padding-left: 5px;
  padding-right: 5px;
}
.embed-wrapper .embed-item:hover {
  background-color: #eee;
}

/* ***************************************
	EMBED FORMS
*************************************** */
.embed-wrapper {
  font-size: 14px;
}
.embed-wrapper fieldset {
  margin: 0;
  padding: 0;
  border: none;
  *zoom: 1;
}
.embed-wrapper fieldset:before, .embed-wrapper fieldset:after {
  content: " ";
  display: table;
}
.embed-wrapper fieldset:after {
  clear: both;
}
.embed-wrapper fieldset.elgg-foot {
  text-align: right;
}
.embed-wrapper .elgg-button-action, .embed-wrapper .elgg-button-submit {
  font-size: 1em;
  padding: .5em 1em;
}
.embed-wrapper .elgg-button-action .elgg-icon, .embed-wrapper .elgg-button-submit .elgg-icon {
  font-size: 20px;
  color: white;
}
.embed-wrapper .elgg-icon.elgg-icon-embed {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.embed-wrapper .elgg-icon.elgg-icon-embed:after {
  content: "\f121";
}

/* ***************************************
	EMBED ECML
*************************************** */
.embed-ecml-placeholder {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  overflow: hidden;
  padding: 10px 10px 30px;
  margin: 10px;
  border: 1px solid #cccccc;
}
.embed-ecml-placeholder * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.embed-ecml-placeholder:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c1";
  background: #cccccc;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
}
.embed-ecml-placeholder iframe, .embed-ecml-placeholder object, .embed-ecml-placeholder embed {
  max-width: 100%;
}
.embed-ecml-placeholder .elgg-image-block .elgg-image {
  margin-right: 10px;
}
.embed-ecml-placeholder .embed-ecml-resource {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
  line-height: 25px;
  white-space: nowrap;
  color: white;
  background: #cccccc;
  font-size: 90%;
}

.embed-ecml-error {
  border-color: darkred;
}

.embed-ecml-error h3 {
  color: darkred;
}

/********************************
	EMBED JQUERY UI MODAL
********************************/
.ui-dialog.embed-modal {
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
  border: 1px solid #cccccc;
  background: #FFF;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 600px;
  max-width: 95%;
}
.ui-dialog.embed-modal .ui-dialog-titlebar {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.ui-dialog.embed-modal .ui-dialog-titlebar .ui-dialog-title {
  margin: 0;
}
.ui-dialog.embed-modal .ui-dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  height: 35px;
  width: 40px;
  display: block;
}
.ui-dialog.embed-modal .ui-dialog-titlebar-close .ui-icon-closethick {
  text-indent: 0;
  color: transparent;
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 35px;
  border-left: 1px solid #cccccc;
}
.ui-dialog.embed-modal .ui-dialog-titlebar-close .ui-icon-closethick:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f00d";
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #b8b8b8;
  padding: 0 12px;
}

.ui-widget-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
}
